@charset "UTF-8";
@font-face {
  font-family: "Lora";
  font-display: swap;
  src: url("../fonts/Lora-Bold.woff") format("woff"), url("../fonts/Lora-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold; }

@font-face {
  font-family: "Lora";
  font-display: swap;
  src: url("../fonts/Lora-SemiBold.woff") format("woff"), url("../fonts/Lora-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: semibold; }

@font-face {
  font-family: "Overlock";
  font-display: swap;
  src: url("../fonts/Overlock-Black.woff") format("woff"), url("../fonts/Overlock-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: black; }

@font-face {
  font-family: "Overlock";
  font-display: swap;
  src: url("../fonts/Overlock-Bold.woff") format("woff"), url("../fonts/Overlock-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold; }

@font-face {
  font-family: "Overlock";
  font-display: swap;
  src: url("../fonts/Overlock-Regular.woff") format("woff"), url("../fonts/Overlock-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "SawarabiMincho";
  font-display: swap;
  src: url("../fonts/SawarabiMinchoRegular.woff") format("woff"), url("../fonts/SawarabiMinchoRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

:root {
  --maxw: 1110px; }

/*====================Обнуляющий стиль CSS==================*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active,
a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

a,
a:visited,
a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

/*====================Обнуляющий стиль CSS==================*/
html {
  width: 100%;
  overflow-x: hidden; }

html,
body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  line-height: 1em;
  width: 100%; }

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  height: auto; }

.container {
  max-width: 1150px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto; }

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 22px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#5B5B5B), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, #5B5B5B 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(180deg, #5B5B5B 0%, rgba(0, 0, 0, 0) 100%);
  background-blend-mode: multiply;
  z-index: 1000; }
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1; }
  .header__logo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 225px;
    max-height: 60px;
    z-index: 1000; }

.hero {
  position: relative;
  padding-top: var(--header-height);
  margin-bottom: var(--header-height);
  margin-top: calc(var(--header-height) - var(--header-height) *2); }
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: auto; }
  .hero__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
    width: 100%;
    min-height: 30vw; }
  .hero__banner {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    max-width: 50%;
    width: 100%;
    height: 100%;
    z-index: 1; }
    .hero__banner .place,
    .hero__banner .man {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-filter: drop-shadow(10px 10px 7px rgba(21, 53, 61, 0.25));
              filter: drop-shadow(10px 10px 7px rgba(21, 53, 61, 0.25));
      z-index: 0; }
      .hero__banner .place img,
      .hero__banner .man img {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        z-index: 1; }
    .hero__banner .man {
      z-index: 1;
      background: url(../image/man.png) left bottom/contain no-repeat;
      -webkit-filter: drop-shadow(10px 10px 7px rgba(21, 53, 61, 0.25));
              filter: drop-shadow(10px 10px 7px rgba(21, 53, 61, 0.25)); }
    .hero__banner .place {
      overflow: hidden; }
      .hero__banner .place .mirror {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: block;
        width: 20%;
        height: 100%;
        -webkit-transform-origin: center;
            -ms-transform-origin: center;
                transform-origin: center;
        -webkit-transform: scale(1.1) translate(0, 0) skew(10deg);
            -ms-transform: scale(1.1) translate(0, 0) skew(10deg);
                transform: scale(1.1) translate(0, 0) skew(10deg);
        animation: mirror 20s 2s linear infinite reverse;
        overflow: hidden; }
        .hero__banner .place .mirror::before {
          content: '';
          position: relative;
          left: 0;
          display: block;
          width: 200%;
          height: 100%;
          background: url(../image/banner_img_bg.png) 0 0 no-repeat fixed;
          -webkit-transform-origin: top left;
              -ms-transform-origin: top left;
                  transform-origin: top left;
          -webkit-transform: skew(-10deg);
              -ms-transform: skew(-10deg);
                  transform: skew(-10deg);
          animation: mirror-bg 20s 2s linear infinite reverse;
          opacity: 0; }

.hero-info__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Bitter", serif;
  font-size: 8.5vw;
  line-height: 1.1em;
  font-weight: 400;
  text-transform: uppercase;
  color: #5B5B5B;
  text-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
  padding: 0 0.5em; }
  .hero-info__head > * {
    margin: .6em 0 0 0; }

.hero-info-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .hero-info-head__subtitle {
    display: inline-block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    white-space: nowrap;
    font-size: 0.54em;
    line-height: 1.3em; }
    .hero-info-head__subtitle--invert {
      font-size: 0.9em;
      background-color: #767BA3;
      color: #E8E8E8;
      padding: 0 0.5em;
      margin-left: -0.5em;
      border-radius: 5px; }

.hero-info-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .hero-info-body--row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 57.5%;
    line-height: 1.1em; }
    .hero-info-body--row ~ .hero-info-body--row {
      margin-top: 0.4em; }
  .hero-info-body--col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .hero-info-body--col-accent-bg {
      background: #767BA3;
      color: #D1D1D1;
      padding: 10px 20px;
      -webkit-box-shadow: 10px 10px 7px rgba(21, 53, 61, 0.25);
              box-shadow: 10px 10px 7px rgba(21, 53, 61, 0.25);
      border-radius: 15px;
      -webkit-animation: button-pulse 4s 2s linear infinite;
              animation: button-pulse 4s 2s linear infinite; }
    .hero-info-body--col ~ .hero-info-body--col {
      margin-left: 0.5em; }
    .hero-info-body--col-big {
      display: block;
      font-size: 2.8em;
      line-height: 1em; }
    .hero-info-body--col-middle {
      display: block;
      font-size: 156%;
      line-height: 1em; }
    .hero-info-body--col-litle {
      display: block;
      font-size: 1em;
      line-height: 1.5em; }
  .hero-info-body__button {
    margin-top: 1em !important;
    color: #3C3C3C; }

.about-product {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 48px 0;
  background: #3C3C3C url(../image/about-product_bg.jpg) top left/cover no-repeat fixed;
  background-blend-mode: overlay;
  color: #E8E8E8;
  overflow: hidden; }
  .about-product::after {
    content: '';
    position: absolute;
    bottom: -25%;
    left: -25%;
    width: 70%;
    height: 50%;
    z-index: 0;
    background: url(../image/beige_romb_full.svg) top right/cover no-repeat; }
  .about-product__container {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about-product__title {
    font-family: "Bitter", serif;
    font-size: 8.5vw;
    line-height: 1.1em;
    text-transform: uppercase;
    padding: 0 .8em;
    padding-bottom: 0.8em; }

.about-product-content {
  max-width: 100%;
  width: 100%; }
  .about-product-content__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    color: #3C3C3C; }
  .about-product-content__item {
    min-width: 234px;
    max-width: calc(25% - 25px);
    width: 100%;
    background-color: #E8E8E8;
    margin: 0 auto 25px; }

.about-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 7px rgba(60, 60, 60, 0.25);
          box-shadow: 10px 10px 7px rgba(60, 60, 60, 0.25);
  overflow: hidden; }
  .about-item__title {
    position: relative;
    color: #E8E8E8;
    min-height: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1.2em;
    font-family: "Bitter", serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25); }
    .about-item__title span {
      position: relative;
      z-index: 1; }
    .about-item__title:before {
      content: '';
      position: absolute;
      top: -1%;
      left: -1%;
      width: 102%;
      height: 102%;
      display: block;
      background: url(../image/beige_romb_about_title.svg) left bottom/cover no-repeat;
      z-index: 0; }
  .about-item__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 22px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    color: #3C3C3C; }
    .about-item__content p {
      margin-bottom: 1em; }
      .about-item__content p:before {
        content: '';
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 25px;
        height: 25px;
        background: url(../image/check.svg) 0 0/contain no-repeat; }
      .about-item__content p b {
        font-weight: 900;
        line-height: 1.3em; }

.stock-product {
  position: relative;
  background-color: #D1D1D1; }
  .stock-product__head img {
    display: none;
    max-width: 60%;
    height: auto;
    margin-left: auto; }
  .stock-product__title {
    font-family: "Lora", serif;
    font-size: 10vw;
    line-height: 1em;
    color: #3C3C3C;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
    text-align: center; }
  .stock-product__subtitle {
    font-family: "Lora", serif;
    font-size: 6vw;
    line-height: 1em;
    color: #3C3C3C;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
    text-align: center; }

.quiz-section {
  background: #5B5B5B url(../image/quiz-section_bg.jpg) no-repeat fixed;
  background-blend-mode: multiply; }
  .quiz-section__container {
    position: relative;
    min-height: calc(100vh - var(--header-height));
    width: 100%;
    margin: 0;
    padding: 50px 0; }
  .quiz-section__title {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: calc(100% - (100% - var(--maxw)) / 2);
    width: 100%;
    padding: 1em 20px;
    background: #767BA3;
    -webkit-box-shadow: 10px 10px 7px rgba(21, 53, 61, 0.25);
            box-shadow: 10px 10px 7px rgba(21, 53, 61, 0.25);
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-family: "Bitter", serif;
    font-size: 8vw;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #E8E8E8;
    text-shadow: 10px 10px 7px rgba(21, 53, 61, 0.25); }
  .quiz-section__description {
    max-width: 100%;
    width: 100%;
    margin: 56px 0;
    height: 100%;
    padding: 0 20px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #E8E8E8; }
    .quiz-section__description p {
      margin-bottom: 35px; }
  .quiz-section__content {
    width: 100%;
    height: 100%;
    padding: 45px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #E8E8E8; }
    .quiz-section__content p {
      font-family: "Nunito Sans", sans-serif;
      font-size: 17px;
      line-height: 24px;
      letter-spacing: 0.05em;
      color: #3C3C3C; }
    .quiz-section__content .logo {
      width: 100%; }
  .quiz-section__button {
    min-width: 220px;
    margin: 20px 0;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.05em; }

.quiz-params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 15px 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #3C3C3C; }
  .quiz-params__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    line-height: 19px; }
    .quiz-params__item:before {
      content: '';
      -webkit-box-flex: 0;
          -ms-flex: 0 0 20px;
              flex: 0 0 20px;
      display: inline-block;
      width: 20px;
      height: 23px;
      margin-right: 5px;
      background: url(../icons/checkbox-checked.svg) center/contain no-repeat; }
    .quiz-params__item:not(:last-child) {
      margin-bottom: 1em; }

.pret-a-porte {
  background: url(../image/product/bg.svg) 0 0/cover no-repeat; }
  .pret-a-porte__title {
    width: 100%;
    height: auto;
    padding: 50px 0;
    font-family: "Bitter", serif;
    font-size: 8vw;
    line-height: 1em;
    font-weight: 400;
    color: #3C3C3C;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
    text-transform: uppercase; }
  .pret-a-porte__content {
    padding: 50px 0; }
  .pret-a-porte__footer {
    max-width: 972px;
    margin: 0 auto;
    width: 100%;
    font-family: "Bitter", serif;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    color: #3C3C3C; }

.product-list-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .product-list-body__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
  .product-list-body__item {
    min-width: 230px;
    max-width: calc(25% - 2em);
    width: 100%;
    margin: 1em; }

.product-list {
  background-color: #D1D1D1; }
  .product-list__container {
    padding-top: 2em;
    padding-bottom: 2em; }
  .product-list__footer {
    font-family: "Lora", serif;
    font-size: .8em;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
    color: #3C3C3C; }

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .product__image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 80%;
    margin-bottom: 1.5em;
    cursor: -webkit-zoom-in;
    cursor: zoom-in; }
    .product__image img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      z-index: 0;
      -webkit-mask: url(../image/product/mask.svg) bottom/contain no-repeat;
      mask: url(../image/product/mask.svg) bottom/contain no-repeat;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .product__image[data-tilt] {
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-perspective: 100px;
              perspective: 100px; }
      .product__image[data-tilt] > * {
        -webkit-transform: translateZ(10px);
                transform: translateZ(10px); }
  .product__price {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0 15px;
    background: url(../image/product/mask_price.svg) top center no-repeat;
    text-align: center;
    font-family: "Bitter", serif;
    font-size: 1rem;
    line-height: 1em;
    color: #3C3C3C;
    -webkit-mask: url(../image/product/mask.svg) bottom/contain no-repeat;
    mask: url(../image/product/mask.svg) bottom/contain no-repeat; }
    .product__price span {
      display: block;
      font-weight: 900;
      font-size: 125%;
      line-height: 1em;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .product__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    background: white;
    -webkit-box-shadow: 6px 6px 4px rgba(91, 91, 91, 0.25);
            box-shadow: 6px 6px 4px rgba(91, 91, 91, 0.25);
    border-radius: 5px;
    padding: 140px 1em 1em;
    margin-top: -160px;
    color: #3C3C3C; }
  .product__name {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-bottom: 25px;
    font-family: "Bitter", serif;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
  .product__description {
    font-family: "Nunito Sans", sans-serif;
    font-size: 17px;
    line-height: 1.1em;
    font-weight: 400;
    text-align: center; }
    .product__description span {
      font-weight: 900; }

@-webkit-keyframes boom-boom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes boom-boom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.pret-a-porte-old {
  background: url(../image/transparent_romb.svg) 100% 0% no-repeat, url(../image/beige_romb.svg) 0% -50% no-repeat; }
  .pret-a-porte-old__container {
    position: relative;
    padding-top: 30px; }
  .pret-a-porte-old__title {
    width: 100%;
    height: auto;
    padding: 1rem;
    font-family: "Bitter", serif;
    font-size: 8vw;
    line-height: 1em;
    font-weight: 400;
    color: #E8E8E8;
    text-shadow: 10px 10px 7px rgba(21, 53, 61, 0.25);
    text-transform: uppercase;
    background-color: #3C3C3C;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
            box-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25); }
  .pret-a-porte-old__subtitle {
    padding: 1rem;
    font-family: "Lora", serif;
    font-size: 6vw;
    line-height: 1em;
    font-weight: 700;
    color: #3C3C3C;
    text-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
    text-transform: uppercase; }
  .pret-a-porte-old__banner {
    display: none;
    position: relative;
    width: 100%;
    margin-top: 30px; }
    .pret-a-porte-old__banner-img {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      max-width: 50%;
      width: 100%;
      height: 0;
      padding-bottom: 30%;
      background: url(../image/divan.png) 0 0/contain no-repeat; }

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 50%;
  width: 100%;
  margin-bottom: 30px; }
  .benefits__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 225px;
            flex: 1 1 225px;
    width: 225px;
    margin: 1rem 0 0; }
    .benefits__item--empty {
      display: none;
      height: 50px; }
  .benefits__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 50px;
    height: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #E8E8E8;
    -webkit-box-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
            box-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
    border-radius: 5px; }
    .benefits__icon svg {
      width: 40px;
      height: 40px; }
  .benefits__text {
    margin: 0 0.5em;
    font-size: 20px;
    line-height: 27px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    color: #3C3C3C;
    text-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25); }

.portfolio {
  background-image: url(../image/beige_romb.svg), url(../image/dark_romb.svg), url(../image/dark_romb.svg), url(../image/transparent_romb.svg);
  background-position: 0% 100%, 100% 0, 10% 30%, 100% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 15%, 30%, 30%, 50%;
  background-color: #3C3C3C; }
  .portfolio__container {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .portfolio__title {
    display: inline-block;
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 8vw;
    line-height: 1em;
    color: #3C3C3C;
    text-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
    text-transform: uppercase;
    background: #D1D1D1;
    border-radius: 5px;
    padding: 1rem; }
  .portfolio__subtitle {
    display: inline-block;
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 6vw;
    line-height: 1em;
    color: #E8E8E8;
    text-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
    text-transform: uppercase;
    padding: 1rem; }
  .portfolio__slider {
    width: 100%;
    height: auto;
    margin: 2.5rem 0; }
    .portfolio__slider .swiper-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%; }
    .portfolio__slider .swiper-slide .slider-image {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 70%;
      background-repeat: no-repeat; }
      .portfolio__slider .swiper-slide .slider-image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
      .portfolio__slider .swiper-slide .slider-image.ibg {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
        .portfolio__slider .swiper-slide .slider-image.ibg img {
          display: none; }

.map-section {
  position: relative;
  background: #3C3C3C; }
  .map-section__container {
    height: 100%; }
  .map-section__text {
    position: relative;
    max-width: 700px;
    margin-left: auto;
    font-family: "Lora", serif;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1em;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
            box-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
    background-color: #D1D1D1;
    border-radius: 5px;
    padding: 1rem;
    z-index: 401; }
  .map-section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }

.map {
  position: absolute;
  top: 0;
  left: 0;
  max-width: calc((calc(100vw - var(--maxw)) / 2) + calc(var(--maxw) - calc(250px + 1.5rem)));
  width: 100%;
  height: inherit; }

.map-list {
  position: relative;
  z-index: 401;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: calc(250px + 1.5rem);
  width: 100%;
  margin-left: auto;
  height: auto;
  font-family: "SawarabiMincho";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1em;
  color: #3C3C3C;
  background: white;
  -webkit-box-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
          box-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
  list-style: disc;
  padding-left: 1.5rem; }
  .map-list__item {
    list-style: disc; }
    .map-list__item button[data-spoiler-button] {
      font-size: inherit;
      line-height: 1.5em;
      font-weight: inherit;
      font-family: inherit;
      color: inherit;
      background: transparent;
      text-transform: uppercase;
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
    .map-list__item [data-spoiler-content] {
      height: 0;
      font-size: 0;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
    .map-list__item.expanded button[data-spoiler-button] {
      font-weight: 900; }
    .map-list__item.expanded [data-spoiler-content]:not(:empty) {
      height: auto;
      padding: 0.5rem 1rem;
      margin-left: -1rem;
      margin-bottom: 10px;
      font-size: inherit;
      color: #E8E8E8;
      background: #3C3C3C;
      -webkit-box-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
              box-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
      border-radius: 5px;
      opacity: 1;
      visibility: visible; }

.leaflet-control-attribution.leaflet-control {
  opacity: 0;
  visibility: hidden; }

.banner {
  background: url(../image/banner_section_bg.jpg) bottom center/cover no-repeat; }
  .banner__title {
    width: 100%;
    font-family: "Lora", serif;
    font-weight: 600;
    font-size: 7vw;
    line-height: 1em;
    color: #3C3C3C;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
    padding: 1.4em 0;
    background-color: #D1D1D1;
    margin-bottom: 285px; }
    .banner__title h2 {
      max-width: 1110px;
      padding: 0 20px;
      margin: 0 auto; }

.cooperation {
  width: 100%;
  background-image: url(../image/beige_transparent_romb.svg), url(../image/beige_transparent_romb_full.svg), url(../image/dark_transparent_romb_full.svg);
  background-position: 0 0, 50% 50%, 120% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 30%, 30%, 30%; }
  .cooperation__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .cooperation__item {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .cooperation__item:nth-child(odd) .cooperation__text {
      padding-left: calc((100vw - var(--maxw)) / 2);
      padding-right: 0; }
    .cooperation__item:nth-child(even) .cooperation__text {
      padding-left: 0;
      padding-right: calc((100vw - var(--maxw)) / 2);
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
  .cooperation__text {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    font-family: "Lora", serif;
    font-size: 7vw;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    color: #3C3C3C;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: calc((100vw - var(--maxw)) / 2);
    z-index: 1;
    background: #d1d1d17c; }
    .cooperation__text span {
      display: block; }
      .cooperation__text span ~ span,
      .cooperation__text span ~ p {
        margin-top: 1em; }
    .cooperation__text p {
      font-family: "SawarabiMincho";
      font-weight: 400;
      font-size: 1rem;
      line-height: 1em; }
  .cooperation__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%; }
    .cooperation__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -webkit-box-shadow: 4px 4px 4px 0px rgba(34, 60, 80, 0.3);
      box-shadow: 4px 4px 4px 0px rgba(34, 60, 80, 0.3); }

.guarantee {
  padding-top: 40px;
  padding-bottom: 40px; }
  .guarantee__title {
    margin-bottom: 0.5em;
    font-family: "Bitter", serif;
    font-weight: 400;
    font-size: 10vw;
    line-height: 1em;
    color: #5B5B5B;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 10px 10px 7px rgba(60, 60, 60, 0.25); }
  .guarantee__text {
    font-family: "SawarabiMincho";
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1em;
    color: #E8E8E8; }
  .guarantee__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .guarantee__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 33.33%;
    min-width: 280px;
    width: 100%;
    margin-bottom: 75px; }
    .guarantee__item:before {
      content: '';
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: 66px;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 66px;
              flex: 0 0 66px;
      height: 55px;
      background: url(../icons/checkbox-checked.svg) center/contain no-repeat;
      margin-right: 12px; }
    .guarantee__item:nth-last-child(2):nth-child(2n+1), .guarantee__item:last-child:nth-child(2n) {
      max-width: 50%; }

.create-product {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .create-product__img {
    display: none;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    z-index: 0;
    background-image: url(../image/beige_transparent_romb_full.svg), url(../image/dark_romb_full.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 20% 20%, 100% 100%;
    background-size: 100%, 200%; }
    .create-product__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }
  .create-product__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    padding-top: 30px; }
    .create-product__body p {
      width: 100%;
      font-family: "SawarabiMincho";
      font-weight: 400;
      font-size: 1rem;
      line-height: 1em;
      padding: 30px;
      padding-right: calc(max(30px, calc((100vw - var(--maxw)) / 2)));
      color: #3C3C3C; }
    .create-product__body span {
      height: 100%;
      font-family: "Lora", serif;
      font-family: "Lora", serif;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1em;
      color: #3C3C3C;
      text-transform: uppercase;
      padding: 30px;
      background: #D1D1D1; }
  .create-product__title {
    max-width: 640px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    width: 100%;
    font-family: "Lora", serif;
    font-size: 8vw;
    font-weight: 700;
    line-height: 1em;
    color: #3C3C3C;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
    padding: 30px;
    padding-right: calc((100vw - var(--maxw)) / 2);
    background: -webkit-gradient(linear, left top, right top, from(#3434345e), color-stop(48.56%, #E7E7E7), color-stop(67.21%, #CCCCCC), color-stop(80.86%, #57575780), color-stop(99.97%, #BEBEBE));
    background: -o-linear-gradient(left, #3434345e 0%, #E7E7E7 48.56%, #CCCCCC 67.21%, #57575780 80.86%, #BEBEBE 99.97%);
    background: linear-gradient(90deg, #3434345e 0%, #E7E7E7 48.56%, #CCCCCC 67.21%, #57575780 80.86%, #BEBEBE 99.97%);
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
            box-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25); }

.form-callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 1;
  background: #D1D1D1; }
  .form-callback__title {
    width: 100%;
    font-family: "Lora", serif;
    color: #3C3C3C;
    font-size: 8vw;
    line-height: 1em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25); }
  .form-callback__form {
    padding: 0 1rem 1rem;
    width: 100%;
    font-family: "SawarabiMincho";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .form-callback__form input[type="text"],
    .form-callback__form input[type="tel"],
    .form-callback__form input[type="email"] {
      font-family: inherit;
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit; }
    .form-callback__form > * {
      min-height: 50px;
      margin-top: 1rem;
      margin-right: 1rem; }
  .form-callback__button {
    min-width: 250px;
    background: transparent;
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center; }

.questions {
  background: #3C3C3C url(../image/questions_bg.jpg) 0 0/cover no-repeat;
  background-blend-mode: overlay;
  padding: 3rem 0; }
  .questions__title {
    width: 100%;
    font-family: "Lora", serif;
    font-size: 11vw;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    padding: 0 0 2rem 0; }
  .questions__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    counter-reset: question; }
  .questions__item {
    max-width: 660px;
    width: 100%;
    counter-increment: question;
    margin: 0.5rem 0; }
    .questions__item [data-spoiler-button] {
      position: relative;
      z-index: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      font-family: "SawarabiMincho";
      font-weight: 400;
      font-size: 1.3rem;
      line-height: 1em;
      color: white;
      text-align: start;
      background: transparent; }
      .questions__item [data-spoiler-button]::before {
        content: counter(question);
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 50px;
        height: 50px;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50px;
                flex: 0 0 50px;
        background: #E8E8E8;
        border-radius: 5px;
        -webkit-box-shadow: 10px 10px 7px rgba(60, 60, 60, 0.25);
                box-shadow: 10px 10px 7px rgba(60, 60, 60, 0.25);
        font-family: "Lora", serif;
        font-weight: 700;
        font-size: 2rem;
        line-height: 1em;
        color: #3C3C3C;
        margin-right: 0.6em;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
    .questions__item [data-spoiler-content] {
      height: 0;
      padding: 0;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      -webkit-transform: translate(0, -100%);
          -ms-transform: translate(0, -100%);
              transform: translate(0, -100%);
      opacity: 0;
      visibility: hidden; }
    .questions__item.expanded [data-spoiler-button]::before {
      background-color: #3C3C3C;
      color: #E8E8E8; }
    .questions__item.expanded [data-spoiler-content]:not(:empty) {
      height: auto;
      padding: 1rem;
      -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
              transform: translate(0, 0);
      opacity: 1;
      visibility: visible; }
  .questions__content-text {
    background: #3C3C3C;
    border-radius: 5px;
    color: #E8E8E8;
    -webkit-box-shadow: 10px 10px 7px rgba(60, 60, 60, 0.25);
            box-shadow: 10px 10px 7px rgba(60, 60, 60, 0.25);
    margin-top: 10px; }

.feedback {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999; }
  .feedback__button {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    height: 100px;
    background: transparent; }
    .feedback__button svg {
      display: block;
      width: 100%;
      height: 100%; }
    .feedback__button::before, .feedback__button::after {
      content: '';
      position: absolute;
      top: 15%;
      left: 15%;
      display: block;
      width: 70%;
      height: 70%;
      border-radius: 100%;
      border-bottom-left-radius: 0;
      -webkit-box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
              box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
      -webkit-animation: pulse 2s infinite;
              animation: pulse 2s infinite;
      z-index: -1;
      background: transparent; }
    .feedback__button::before {
      background: #E8E8E8; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    -webkit-transform: scale(1.1);
            transform: scale(1.1); } }

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    -webkit-transform: scale(1.1);
            transform: scale(1.1); } }

.footer {
  display: block;
  min-height: var(--header-height);
  width: 100%;
  height: 100%;
  background-color: #3C3C3C;
  padding: 22px 0;
  z-index: 1000; }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer__logo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 225px;
    max-height: 60px;
    z-index: 1000; }

.logo--white {
  fill: #E8E8E8; }

.logo--bebebe {
  fill: #bebebe; }

.button {
  border: 3px solid #5B5B5B;
  -webkit-box-shadow: 10px 10px 7px rgba(60, 60, 60, 0.25);
          box-shadow: 10px 10px 7px rgba(60, 60, 60, 0.25);
  border-radius: 5px;
  padding: 12px 25px;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  line-height: 1em; }
  .button--inline {
    display: inline-block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
  .button--white {
    border-color: #E8E8E8;
    color: #E8E8E8;
    background-color: transparent; }
  .button--blue {
    background: #767BA3;
    padding: 10px;
    text-align: center;
    color: #E8E8E8;
    border: none; }
  .button--anim {
    position: relative; }
    .button--anim-pulse {
      -webkit-animation: button-pulse 4s ease infinite;
              animation: button-pulse 4s ease infinite; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }
  .form input[type="text"],
  .form input[type="tel"],
  .form input[type="email"] {
    font-size: inherit;
    line-height: inherit;
    background: white;
    padding-left: 1em;
    min-width: 250px;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 7px rgba(60, 60, 60, 0.25);
            box-shadow: 10px 10px 7px rgba(60, 60, 60, 0.25); }

@-webkit-keyframes button-pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  10% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  11% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  20% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  21% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes button-pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  10% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  11% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  20% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  21% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@media (min-width: 425px){
      .product-list__footer {
        font-size: 1.1em; }
        .create-product__body p {
          font-size: 1.3rem; }
        .create-product__body span {
          font-size: 1.3rem; } }

@media (min-width: 560px){
      .hero__info {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 50%;
                flex: 1 1 50%;
        max-width: 50%; }
      .hero__banner {
        display: block; }
    .hero-info__head {
      font-size: 4.7vw; }
      .about-product__title {
        font-size: 55px;
        line-height: 60px; }
      .stock-product__head img {
        display: block; }
      .stock-product__title {
        text-align: start;
        font-size: 2.5rem; }
      .stock-product__subtitle {
        text-align: start;
        font-size: 1.3rem; }
    .stock-product {
      padding: 2.5rem 0 0;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(80%, #D1D1D1)), url(../image/stock-product_bg.svg) center/cover no-repeat;
      background: -o-linear-gradient(top, transparent 80%, #D1D1D1 80%), url(../image/stock-product_bg.svg) center/cover no-repeat;
      background: linear-gradient(180deg, transparent 80%, #D1D1D1 80%), url(../image/stock-product_bg.svg) center/cover no-repeat; }
      .quiz-section__title {
        font-size: 40px; }
      .pret-a-porte__title {
        font-size: 50px;
        line-height: 60px; }
      .pret-a-porte-old__title {
        font-size: 2.5rem; }
      .pret-a-porte-old__subtitle {
        font-size: 1.3rem; }
      .pret-a-porte-old__banner {
        display: block; }
        .benefits__item--empty {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
      .portfolio__title {
        font-size: 2.3rem; }
      .portfolio__subtitle {
        font-size: 1.3rem;
        line-height: 1em; }
      .banner__title {
        font-size: 2rem; }
      .guarantee__title {
        font-size: 50px;
        line-height: 60px; }
      .form-callback__title {
        font-size: 1.8rem; }
      .questions__title {
        font-size: 2.5rem; }
      .questions__content-text {
        margin-left: calc(50px + 1.2rem); } }

@media (min-width: 768px){
    .quiz-section {
      background: #5B5B5B url(../image/quiz-section_bg.jpg) right/cover no-repeat fixed; }
      .quiz-section__description {
        width: 50%; }
      .quiz-section__content {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(50% - 20px);
        padding-top: calc(224px + 50px + 56px);
        padding-right: calc((100% - var(--maxw)) / 2); }
      .quiz-section__button {
        margin: 50px 0; }
      .cooperation__text {
        font-size: 5vw; }
      .create-product__img {
        display: block;
        position: relative;
        z-index: 1;
        max-width: 45%; }
        .create-product__body span {
          max-height: 150px;
          position: absolute;
          bottom: 0;
          left: 0;
          padding-right: calc((100vw - var(--maxw)) / 2);
          padding-left: calc(45% + 30px); }
      .create-product__body {
        max-width: 55%;
        padding-bottom: 150px; }
      .create-product__title {
        font-size: 2.5rem; } }

@media (min-width: 1024px){
      .quiz-section__content {
        max-width: calc(380px + 45px + calc((100% - var(--maxw)) / 2));
        padding: 45px;
        padding-top: calc(176px + 50px + 56px);
        padding-right: calc((100% - var(--maxw)) / 2); }
      .cooperation__item:nth-child(odd) .cooperation__img {
        margin-left: 50px;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
      .cooperation__item:nth-child(even) .cooperation__img {
        margin-right: 50px;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
      .cooperation__text {
        max-width: 50%;
        font-size: 2.5rem;
        background-color: transparent; }
      .cooperation__img {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 45%;
        width: 100%;
        height: auto; } }

@media (min-width: 1110px){
      .quiz-section__title {
        padding-left: calc((100% - var(--maxw)) / 2); }
      .quiz-section__description {
        max-width: 500px;
        padding: 0;
        margin-left: calc((100% - var(--maxw)) / 2); }
      .pret-a-porte-old__title {
        max-width: calc(100% - (100% - var(--maxw)) / 2);
        padding-right: calc((100% - var(--maxw)) / 2);
        margin-left: auto;
        margin-bottom: 50px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        text-align: center; } }

@media (min-width: 1150px){
    .hero-info__head {
      font-size: 55px;
      line-height: 60px;
      letter-spacing: 0.02em; } }

@media (min-width: 1440px){
        .pret-a-porte-old__banner-img {
          max-width: 555px;
          padding-bottom: 40%; }
      .pret-a-porte-old__banner {
        width: 1110px;
        margin: 30px auto 0; } }

@media (max-width: 1110px){
        .cooperation__text span {
          padding: 20px; }
        .cooperation__text p {
          padding: 20px; } }

@media (max-width: 560px){
    .map {
      background: url(../image/Basemap.jpg) 0 0/cover no-repeat; } }

@media (any-hover: hover){
    .about-item {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .about-item:hover {
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05); }
    .product:hover .product__price span {
      -webkit-animation: boom-boom 1s linear infinite;
              animation: boom-boom 1s linear infinite; }
    .product:hover .product__name {
      -webkit-transform-origin: center;
          -ms-transform-origin: center;
              transform-origin: center;
      -webkit-animation: boom-boom 1s linear infinite;
              animation: boom-boom 1s linear infinite; }
        .map-list__item button[data-spoiler-button]:hover {
          -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
                  transform: scale(1.1);
          -webkit-transform-origin: left center;
              -ms-transform-origin: left center;
                  transform-origin: left center;
          font-weight: 900; } }

@supports (-webkit-appearance:none){
.hero__banner .man{background:url(../image/man.webp) left bottom/contain no-repeat}
.hero__banner .place .mirror::before{background:url(../image/banner_img_bg.webp) 0 0 no-repeat fixed}
.about-product{background:#3C3C3C url(../image/about-product_bg.webp) top left/cover no-repeat fixed}
.about-product::after{background:url(../image/beige_romb_full.svg) top right/cover no-repeat}
.about-item__title:before{background:url(../image/beige_romb_about_title.svg) left bottom/cover no-repeat}
.about-item__content p:before{background:url(../image/check.svg) 0 0/contain no-repeat}
.quiz-section{background:#5B5B5B url(../image/quiz-section_bg.webp) no-repeat fixed}
.quiz-params__item:before{background:url(../icons/checkbox-checked.svg) center/contain no-repeat}
.pret-a-porte{background:url(../image/product/bg.svg) 0 0/cover no-repeat}
.product__price{background:url(../image/product/mask_price.svg) top center no-repeat}
.pret-a-porte-old{background:url(../image/transparent_romb.svg) 100% 0% no-repeat, url(../image/beige_romb.svg) 0% -50% no-repeat}
.pret-a-porte-old__banner-img{background:url(../image/divan.webp) 0 0/contain no-repeat}
.portfolio{background-image:url(../image/beige_romb.svg), url(../image/dark_romb.svg), url(../image/dark_romb.svg), url(../image/transparent_romb.svg)}
.banner{background:url(../image/banner_section_bg.webp) bottom center/cover no-repeat}
.cooperation{background-image:url(../image/beige_transparent_romb.svg), url(../image/beige_transparent_romb_full.svg), url(../image/dark_transparent_romb_full.svg)}
.guarantee__item:before{background:url(../icons/checkbox-checked.svg) center/contain no-repeat}
.create-product__img{background-image:url(../image/beige_transparent_romb_full.svg), url(../image/dark_romb_full.svg)}
.questions{background:#3C3C3C url(../image/questions_bg.webp) 0 0/cover no-repeat}
}

 @media (min-width: 425px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 560px){

@supports (-webkit-appearance:none){
.stock-product{background:-webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(80%, #D1D1D1)), url(../image/stock-product_bg.svg) center/cover no-repeat}
.stock-product{background:-o-linear-gradient(top, transparent 80%, #D1D1D1 80%), url(../image/stock-product_bg.svg) center/cover no-repeat}
.stock-product{background:linear-gradient(180deg, transparent 80%, #D1D1D1 80%), url(../image/stock-product_bg.svg) center/cover no-repeat}
}

}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){
.quiz-section{background:#5B5B5B url(../image/quiz-section_bg.webp) right/cover no-repeat fixed}
}

}

 @media (min-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1110px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1150px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1110px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 560px){

@supports (-webkit-appearance:none){
.map{background:url(../image/Basemap.webp) 0 0/cover no-repeat}
}

}

 @media (any-hover: hover){

@supports (-webkit-appearance:none){

}

}
